<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

    <a class="nav-link active" role="tab" routerLink='/jan' aria-selected="true" (click)="changeSelect($event.target)">Jan.</a>

    <a class="nav-link" role="tab" routerLink="/feb" aria-selected="false" (click)="changeSelect($event.target)">Feb.</a>

    <a class="nav-link" role="tab" routerLink='/mar' aria-selected="false">Mar.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Apr.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">May.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Jun.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Jul.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Aug.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Sep.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Nov.</a>

    <a class="nav-link" role="tab" href="#" aria-selected="false">Dec.</a>

    
</div>
