
<div *ngIf="home_app">
  <mat-sidenav-container *ngIf="home_app" class="example-container">
    <mat-sidenav class="sidebar" mode="side" opened="true" >
      <app-header></app-header>
      <a class="nav-link" role="tab" routerLink='/home' (click)="changehome(false)" >Home.</a>
    </mat-sidenav>
    <mat-sidenav-content class="sidebarcontent">
      <ng-container *ngTemplateOutlet="template">
      </ng-container>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--This is where my after login router stays-->
<div *ngIf="!home_app" class="background">
  <ng-container *ngTemplateOutlet="template"></ng-container>
  <div class="container">
    <div class="row justify-content-center">
    <a routerLink="/jan" (click)="changehome(true)"> <button type="button" class="btn-primary" name="GoJan">To Album</button> </a>
    </div>
  </div>
</div>


<ng-template #template >
  <router-outlet>
  </router-outlet>
</ng-template>
